<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- Define targets for logging -->
  <targets>
    <!-- Console target for logging to the console -->
    <target name="console" xsi:type="Console">
      <!-- Define layout with color settings for different log levels -->
      <layout>
        ${longdate}|${level:uppercase=true}|${logger}|${message}${exception:format=tostring}
      </layout>
      <layout type="ConsoleLayout">
        <!-- Define colors using ANSI escape codes -->
        <layout>${longdate}|${level:uppercase=true}|${logger}|${message}${exception:format=tostring}</layout>
        <encoding>utf-8</encoding>
        <rowColor>
          <!-- Set color based on log level -->
          <color level="Debug" foregroundColor="White" />
          <color level="Info" foregroundColor="Cyan" />
          <color level="Warn" foregroundColor="Yellow" />
          <color level="Error" foregroundColor="Red" />
          <color level="Fatal" foregroundColor="Magenta" />
        </rowColor>
      </layout>
    </target>
  </targets>

  <!-- Define rules for routing log messages -->
  <rules>
    <!-- Log all levels to the console -->
    <logger name="*" minlevel="Debug" writeTo="console" />
  </rules>
</nlog>
